h1{
    color:blue;
    font-size: 24px;
    text-align: center;
}
.css_externo{
    color: green;
    font-size: 20px;
}

button.primary{
    background-color: blue;
    color: white;
}

/*Element Selector*/
p{
    color: blue;
}

/*Class Selector*/
.highlight{
    background-color: yellow;
}

/*ID Selector*/
#special-text{
    font-weight: bold;
}

/*Atribute Selector*/
[type="button"]{
    border:1px solid gray;
}